{% extends "base.html" %}
{% block start %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data" action="{% url 'login' %}">
        {% csrf_token %}
        <h2>Login</h2>
        <hr>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" required>
            <div id="usernameHelp" class="form-text">Your username for login.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <p>Don't have an account? <a href="/register/">Register</a></p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock %}